@font-face {
  font-family: "Geist";
  font-weight: 400;
  src: local("Geist"), url("/fonts/Geist-Regular.woff2"), format("woff2");
}

@font-face {
  font-family: "Geist";
  font-weight: 500;
  src: local("Geist"), url("/fonts/Geist-Medium.woff2"), format("woff2");
}

@font-face {
  font-family: "Geist";
  font-weight: 600;
  src: local("Geist"), url("/fonts/Geist-SemiBold.woff2"), format("woff2");
}

@font-face {
  font-family: "Geist";
  font-weight: 700;
  src: local("Geist"), url("/fonts/Geist-Bold.woff2"), format("woff2");
}
